<nav class="employee-nav hidden">
    <h2 class="nav-title" style="color:#343434;">Welcome Back,<span> User</span></h2>
    <ul style="color:#343434 !important;">
        <li><a style="color:#343434;" href="#">HOME</a></li>
        <li><a style="color:#343434;" id="flightsButton" href="#">FLIGHTS</a></li>
        <li><a style="color:#343434;" id="reservationsButton" href="#">RESERVATIONS</a></li>
        <li><a style="color:#343434;" href="#">MY COMPANY</a></li>
        <li><a style="color:#343434;" href="#">MY PROFILE</a></li>
        <li><a href="#" style="color:red;">LOG OUT</a></li>
    </ul>
</nav>
<section class="section-b" style="display:block;width:90%;height:100vh;margin:auto;" id="flightsSection">
    <div class="center-form">
        <div class="employee-flights-container selectContainer" style="display:block;" id="flightsContainer">

            <h3>Flights</h3>
                        <button>+ Add New</button>

 <table class="table table-sortable table-striped" id="flightsTable">
                <thead style="color:#fff;" class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">EGN</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Nationality</th>
                        <th scope="col">Ticket Type</th>
                        <th scope="col">Flight ID</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Jhon</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>First Class</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Ivan</td>
                        <td>Petrov</td>
                        <td>Borisov</td>
                        <td>65498351354</td>
                        <td>+359897531354</td>
                        <td>Buligarian</td>
                        <td>Business Class</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Borislav</td>
                        <td>Borisov</td>
                        <td>Ivanov</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>Budget Class</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td scope="row">4</td>
                        <td>Martin</td>
                        <td>Petrov</td>
                        <td>Dimitrov</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>First Class</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="reservations-container" id="reservationsContainer">
            <h3>Reservations</h3>
            <button>+ Add New</button>
            <table class="table table-sortable table-striped" id="myTable">
                <thead style="background:#434343;color:#fff;" class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">EGN</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Nationality</th>
                        <th scope="col">Ticket Type</th>
                        <th scope="col">Flight ID</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Jhon</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>First Class</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Ivan</td>
                        <td>Petrov</td>
                        <td>Borisov</td>
                        <td>65498351354</td>
                        <td>+359897531354</td>
                        <td>Buligarian</td>
                        <td>Business Class</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Borislav</td>
                        <td>Borisov</td>
                        <td>Ivanov</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>Budget Class</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td scope="row">4</td>
                        <td>Martin</td>
                        <td>Petrov</td>
                        <td>Dimitrov</td>
                        <td>128376132</td>
                        <td>+359814908123</td>
                        <td>Buligarian</td>
                        <td>First Class</td>
                        <td>4</td>
                    </tr>
                </tbody
            </table>
        </div>
    </div>
</section>
<script>
    const reservationsButton = document.getElementById("reservationsButton");
    const reservationsSection = document.getElementById("reservationsContainer");

    const flightsButton = document.getElementById("flightsButton");
    const flightsSection = document.getElementById("flightsContainer");

    flightsButton.addEventListener("click", () => {
        flightsSection.style.display = "block";
        reservationsSection.style.display = "none";
    });
    reservationsButton.addEventListener("click", () => {
        flightsSection.style.display = "none";
        reservationsSection.style.display = "block";
    })
</script>
<script src="~/js/script.js"></script>