
@*@{
    ViewData["Title"] = "Index";
}

<div class="loginContainer">
    <form action="#" class="loginForm">
        <div class="left-side-container">
            <label>Username</label><br>
            <input type="text"><br>
            <label>Password</label><br>
            <input type="password"><br>
            <label>Company name</label><br>
            <input type="text"><br>
            <label>Company password</label><br>
            <input type="password"><br>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>
*@
