@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
            <a asp-controller="Home" asp-action="Panel">HELLO @User.Identity?.Name!</a>
    </li>
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button style="background:none !important;color:#fff !important;border:none !important;"  type="submit">LOGOUT</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </li>
}
