@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="landing-flights">
    <nav class="hidden">
        <h2 class="nav-title">FlightManager<span>.</span></h2>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">ABOUT US</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AllFlights">ALL FLIGHTS</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Book">BOOK A FLIGHT</a></li>
            <li><a href="#">LOG IN</a></li>
            <li><a href="#">REGISTER</a></li>
        </ul>
    </nav>
    <h1 class="landing-header" >ALL FLIGHTS</h1>
    <div class="table-container">

        <table class="dataTable table-sortable" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrive</th>
                    <th scope="col">Plane Type</th>

                    <th scope="col">Pass. Capacity</th>
                    <th scope="col">Business    Class Capacity</th>
                    <th scope="col">All reservs.</th>
                    <th scope="col">Company</th>
                    <th scope="col">Pilot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="idCol">1</td>
                    <td>London</td>
                    <td>New York</td>
                    <td class="idCol">10:35</td>
                    <td class="idCol">16:15</td>
                    <td>Airliner</td>
                    <td class="idCol">300</td>
                    <td class="idCol">80</td>
                    <td class="idCol">312</td>
                    <td>Bulgarian Airlines</td>
                    <td class="last-td">Mohammad Abdelaziz</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">2</td>
                    <td>Sofia</td>
                    <td>Varna</td>
                    <td class="idCol">14:15</td>
                    <td class="idCol">15:00</td>
                    <td>Airliner</td>
                    <td class="idCol">250</td>
                    <td class="idCol">60</td>
                    <td class="idCol">137</td>
                    <td>Bulgarian Airlines</td>
                    <td class="last-td">Ivelin Dimitrov</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">3</td>
                    <td>Sofia</td>
                    <td>Manchester, UK</td>
                    <td class="idCol">9:50</td>
                    <td class="idCol">12:45</td>
                    <td>Airliner</td>
                    <td class="idCol">280</td>
                    <td class="idCol">80</td>
                    <td class="idCol">266</td>
                    <td>Wizz Air</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">4</td>
                    <td>Bucharesht</td>
                    <td>Eindhoven</td>
                    <td class="idCol">8:00</td>
                    <td class="idCol">10:30</td>
                    <td>Airliner</td>
                    <td class="idCol">490</td>
                    <td class="idCol">220</td>
                    <td class="idCol">453</td>
                    <td>Emirates Airways</td>
                    <td class="last-td">Alexander Volkanovski</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">5</td>
                    <td>Varna</td>
                    <td>Frankfurt</td>
                    <td class="idCol">16:00</td>
                    <td class="idCol">18:30</td>
                    <td>Airliner</td>
                    <td class="idCol">280</td>
                    <td class="idCol">120</td>
                    <td class="idCol">231</td>
                    <td>Turkish Airlines</td>
                    <td class="last-td">Jhon Cena</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
                <tr>
                    <td scope="row" class="idCol">6</td>
                    <td>Sofia</td>
                    <td>Paris</td>
                    <td class="idCol">7:35</td>
                    <td class="idCol">11:15</td>
                    <td>Airliner</td>
                    <td class="idCol">420</td>
                    <td class="idCol">180</td>
                    <td class="idCol">312</td>
                    <td>Qatar Airways</td>
                    <td class="last-td">Jhon Doe</td>

                </tr>
            </tbody>
        </table>
    </div>
</section>