@{
    ViewData["Title"] = "Home Page";
}



    
        
        <div class="filler-left">
            <h2 class="landing-header">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, odit.</h2>
            <p class="landing-text"></p>
            <button class="landing-btn">BOOK NOW</button>
            <button class="landing-btn-second">VIEW FLIGHTS</button>
        </div>
    </section>
    <section class="section-b">
        <h2 class="b-header">ALL FLIGHTS</h2>
        <p class="b-text">Here you can see all of the flights</p>
        <div class="table-container">
                <table class="table table-striped">
                    <tr scope="row">
                        <th style="border-radius:10px 0 0 0;">Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                        <th style="border-radius:0 10px 0 0">Some test</th>
                    </tr>
                    <tr scope="row">
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>test</td>
                    </tr>
                    <tr scope="row">
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>Test</td>
                    </tr>
                    <tr scope="row">
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>Test</td>
                    </tr>
                    <tr scope="row">
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>Test</td>
                    </tr>
                    <tr scope="row">
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>Test</td>
                    </tr>
                </table>
        </div>
    </section>
    <section class="section-c">
        <div class="left-image">

        </div>
        <h2 class="b-header" style="padding-top:30px;">BOOK A FLIGHT NOW</h2>
        <p class="b-text" style="margin-bottom:60px;">You can book a flight right here</p>
        <form action="#">
            <div class="left-side-container">    
                <label>First Name</label>
                <input type="text" placeholder="First Name"><br>
                <label>Middle Name</label>
                <input type="text" placeholder="Middle Name"><br>
                <label >Last Name</label>
                <input type="text" placeholder="Last Name"><br>
            </div>
            <div class="right-side-container">
                <label>EGN</label>
                <input type="text" placeholder="EGN"><br>
                <label>Phone Number</label>
                <input type="text" placeholder="Phone Number"><br>
                <label>Nationality</label>
                <input type="text" placeholder="Nationality"><br>
                <label>Ticket Type</label>
                <select name="" id="">
                    <option value="Economic">Economic</option>
                    <option value="Business">Business</option>
                </select> <br>
                <button type="submit" class="btn btn-primary">Book Now</button>
            </div>
        </form>
    </section>
    <section class="section-d">
        <h2 class="b-header">Contact Us</h2>
        <p class="b-text">Feel free to contact us anytime if you have any questions!</p>
        <div class="form-container">
            <form action="#">
                <label for="#">Name</label><br>
                <input type="text" placeholder="Your Name"><br>
                <label for="#">Email</label><br>
                <input type="text" placeholder="Your Email"><br>
                <label for="#">Subject</label><br>
                <input type="text" placeholder="Subject"><br>
                <label for="#">Message</label><br>
                <textarea type="text" placeholder="Message"></textarea><br>
                <button class="btn btn-primary" type="submit" style="margin-top:20px;">Send!</button>
            </form>
        </div>
    </section>

<footer>
    <p>FlightManager &copy; 2023; All rights reserved</p>
</footer>