@model FlightManager.Models.ViewModels.PassengerViewModel

@{
    ViewData["Title"] = "Create";
}
@*
<h1>Create</h1>

<h4>Passanger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UCN" class="control-label"></label>
                <input asp-for="UCN" class="form-control" />
                <span asp-validation-for="UCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group" asp-for="TicketType">
                <label asp-for="TicketType" class="control-label"></label>
                <select class="form-control" asp-for="TicketType">
                    <option value="">Select a Flight</option>
                    <option value="0">Economy</option>
                    <option value="1">Buisness</option>
                </select><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@


<section class="landing-book">
    <div class="left-container">
        <nav class="hidden book-nav">
            <div class="image-container">
                <h2 class="nav-title">FlightManager<span>.</span></h2>
            </div>
                <ul style="width:35% !important;">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a asp-area="" asp-controller="Flight" asp-action="Index">ALL FLIGHTS</a></li>
                    <li><a asp-area="" asp-controller="Reservation" asp-action="Create">BOOK A FLIGHT</a></li>

                    <partial name="_LoginPartial" />
                </ul>
        </nav>
    </div>
    <div class="right-container">
        <h2 class="b-header hidden" style="color:#fff !important;padding-top:70px !important;text-align:Center">BOOK A FLIGHT NOW</h2>
        <p class="b-text hidden" style="margin-bottom:40px;color:#fff !important; text-align:center;">You can book a flight right here</p>
        <form asp-action="Create" method="post" style="position:absolute !important;z-index:1000;width:50% !important;margin:auto !important;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UCN" class="control-label"></label>
                <input asp-for="UCN" class="form-control" />
                <span asp-validation-for="UCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group" asp-for="TicketType">
                <label asp-for="TicketType" class="control-label"></label>
                <select class="form-control" asp-for="TicketType">
                    <option value="">Select a Flight</option>
                    <option value="0">Economy</option>
                    <option value="1">Buisness</option>
                </select><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>