@*<form action="#">
    <div class="left-side-container">
        <label>Company name</label>
        <input type="text" placeholder="Company name"><br>
        <label>Company password</label>
        <input type="password" placeholder="Company password"><br>
        <label>Location</label>
        <input type="text" placeholder="Location"><br>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>*@

