@model Test.Models.Reservation
@using Test.Data;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@*<form asp-action="Create">
    <div class="form-group">
        <label for="FlightId">Flight:</label>
        <div class="form-group">
            <label asp-for="Flight" class="control-label"></label>
            <select asp-for="Flight" class="form-control" asp-items="ViewBag.FlightId"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="NumPassengers">Number of Passengers:</label>
        <input type="number" id="NumPassengers" name="NumPassengers" class="form-control" min="1" max="10" />
    </div>
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MiddleName">Middle Name:</label>
        <input type="text" id="MiddleName" name="MiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@{

    if (Context.Request.Method == "POST")
    {
        var numPassengers = int.Parse(Context.Request.Form["NumPassengers"]);
        var reservation = new Reservation
                {
                    FlightId = int.Parse(Context.Request.Form["FlightId"]),
                    Passengers = new List<Passenger>()
                };
        for (int i = 0; i < numPassengers; i++)
        {
            var passenger = new Passenger
                    {
                        FirstName = Context.Request.Form["FirstName"],
                        MiddleName = Context.Request.Form["MiddleName"],
                        LastName = Context.Request.Form["LastName"]
                    };
            reservation.Passengers.Add(passenger);
        }
        Model.Passengers.Add(reservation);
        Model.SaveChanges();
    }
}*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
