html,body {
    margin:0;
    padding:0;
}

.col {
    text-align: center;
}

h3 {
    font-family:'Montserrat';
}


section h3 { 
    text-align:Center;
    padding-top:40px;
    
}

table{
    width:75% !important;
    margin-top:75px !important;
    margin:auto;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(26,26,26,0.3); 
    box-shadow: 5px 5px 15px 5px rgba(26,26,26,0.3);
    
}


.table-sortable th{
    cursor:pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}


.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left:5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0,0,0,0.1);
}



nav {
    display:table;
    width:100%;
    height:60px;
}

.nav-title {
    float:left;
    font-family:'Open Sans';
    font-weight:700;
    color:#343434;
    margin-left:5%;
    margin-top:10px;
}

.nav-title span {
    color:#3d3aff;
}

nav ul {
    float:right;
    height:100%;
    margin: auto;
    margin-right:100px;
}

nav ul li {
    float:left;
    margin-left:30px;
    list-style: none;
    margin-top:20px;
}

nav ul li a {
    text-decoration:none;
    color:#343434;
    font-family:'Open Sans';
    font-weight:400;
}


.center-form {
    margin-left:20px;
    width:70%;
    height:600px;
    margin:0 auto;
}

.center-form table {
    width:100% !important;
}

.center-form h3 {
    margin-bottom:00px;
    color:#343434;
}

.center-form input{
    background:none;
    border:none;
    border-bottom:1px solid #ccc;
    color:#fff;
    height:40px;
}

.center-form button {
    background:#3c88fa;
    padding:10px 25px;
    font-family:arial;
    border:none;
    color:#fff;
    margin-left:30px;
    border-radius:5px;
}

.employee-nav ul li a {
    color: #343434 !important;
}

.employee-flights-table table {
    background: #191D28 !important;
}

.employee-flights-container table tbody tr td {
    background: #191D28 !important;
    color: #fff !important;
}

.reservations-container label {
    color: #fff;
}

.reservations-container .row .dataTables_info {
    color: #fff !important;
}

.employee-flights-container label {
    color: #fff !important;
}

.employee-flights-container .row .dataTables_info {
    color: #fff !important;
}

.reservations-container {
    display: none;
}

