@using FlightManager.Web.ViewModels.Users;
@model CreateUserViewModel


<div class="loginContainer" style="margin-top:30px">
    <form action="post" class="loginForm" style="width:50%; height:430px !important" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div style="width:100%;height:100%">
            <div class="leftFormContainer" style="width:50%">
                <label>Username</label><br/>
                <input type ="text" asp-for="UserName"><br>
                <span asp-validation-for="UserName" style="color:red"></span>
                <label>Password</label><br />
                <input type="password" asp-for="Password"><br>
                <span asp-validation-for="Password" style="color:red"></span>
                <label>Email</label><br />
                <input type="email" asp-for="Email"><br>
                <span asp-validation-for="Email" style="color:red"></span>
                <label>First name</label><br />
                <input type="text" asp-for="FirstName"><br>
                <span asp-validation-for="FirstName" style="color:red"></span>
                <label>Last name</label><br />
                <input type="text" asp-for="LastName"><br>
                <span asp-validation-for="LastName" style="color:red"></span>
                <label>Nationality</label><br />
                <input type="text" asp-for="Nationality"><br>
                <span asp-validation-for="Nationality" style="color:red"></span>

            </div>
            <div class="rightFormContainer" style="width:50%">
                <label>EGN</label><br />
                <input type="text" asp-for="EGN"><br>
                <span asp-validation-for="EGN" style="color:red"></span>
                <label>Address</label><br />
                <input type="text" asp-for="Address"><br>
                <span asp-validation-for="Address" style="color:red"></span>
                <label>Phone number</label><br />
                <input type="text" asp-for="PhoneNumber"><br>
                <span asp-validation-for="PhoneNumber" style="color:red"></span>
                <label>Company name</label><br />
                <input type="text" asp-for="CompanyName"><br>
                <span asp-validation-for="CompanyName" style="color:red"></span>
                <label>Company password</label><br />
                <input type="password" asp-for="CompanyPassword"><br>
                <span asp-validation-for="CompanyPassword" style="color:red"></span>
            </div>

            <a asp-controller="Company" asp-action="Create" style="color:#FFF">Don't have a company?</a>
            <button type="submit" asp-controller="Register" asp-action="Create" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

